
# PlanAhead Generated physical constraints 

NET "LCD_RS" LOC = R9;

# PlanAhead Generated IO constraints 

NET "LCD_RS" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[15]" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[14]" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[13]" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[12]" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[11]" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[10]" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[9]" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[8]" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[7]" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[6]" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[5]" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[4]" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[3]" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[2]" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[1]" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[0]" IOSTANDARD = LVCMOS33;
NET "BL_CTR" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;

NET "LCD_CS" IOSTANDARD = LVCMOS33;
NET "LCD_RD" IOSTANDARD = LVCMOS33;
NET "LCD_RST" IOSTANDARD = LVCMOS33;
NET "LCD_WR" IOSTANDARD = LVCMOS33;


# PlanAhead Generated physical constraints 

NET "LCD_CS" LOC = T9;
NET "LCD_RD" LOC = R12;
NET "LCD_WR" LOC = T12;
NET "LCD_DATA[0]" LOC = T14;
NET "LCD_RST" LOC = T13;
NET "LCD_DATA[2]" LOC = R14;
NET "LCD_DATA[1]" LOC = T15;
NET "LCD_DATA[4]" LOC = M13;
NET "LCD_DATA[3]" LOC = M14;
NET "LCD_DATA[6]" LOC = L14;
NET "LCD_DATA[5]" LOC = L16;
NET "LCD_DATA[8]" LOC = J13;
NET "LCD_DATA[7]" LOC = K14;
NET "LCD_DATA[10]" LOC = J11;
NET "LCD_DATA[9]" LOC = J12;
NET "LCD_DATA[12]" LOC = G12;
NET "LCD_DATA[11]" LOC = H11;
NET "LCD_DATA[14]" LOC = R15;
NET "LCD_DATA[13]" LOC = R16;
NET "BL_CTR" LOC = H13;
NET "LCD_DATA[15]" LOC = H14;
NET "clk" LOC = H3;
