//! **************************************************************************
// Written by: Map P.20131013 on Mon Mar 20 17:58:00 2023
//! **************************************************************************

SCHEMATIC START;
COMP "S_A<10>" LOCATE = SITE "A11" LEVEL 1;
COMP "S_A<11>" LOCATE = SITE "F7" LEVEL 1;
COMP "S_A<12>" LOCATE = SITE "D6" LEVEL 1;
COMP "S_BA<0>" LOCATE = SITE "A10" LEVEL 1;
COMP "S_BA<1>" LOCATE = SITE "B10" LEVEL 1;
COMP "S_DQ<0>" LOCATE = SITE "B3" LEVEL 1;
COMP "S_DQ<1>" LOCATE = SITE "A3" LEVEL 1;
COMP "S_DQ<2>" LOCATE = SITE "A4" LEVEL 1;
COMP "S_DQ<3>" LOCATE = SITE "B5" LEVEL 1;
COMP "S_DQ<4>" LOCATE = SITE "A5" LEVEL 1;
COMP "S_DQ<5>" LOCATE = SITE "B6" LEVEL 1;
COMP "S_DQ<6>" LOCATE = SITE "A6" LEVEL 1;
COMP "S_DQ<7>" LOCATE = SITE "C7" LEVEL 1;
COMP "S_DQ<8>" LOCATE = SITE "D5" LEVEL 1;
COMP "S_DQ<9>" LOCATE = SITE "C3" LEVEL 1;
COMP "LED" LOCATE = SITE "H4" LEVEL 1;
COMP "TXD" LOCATE = SITE "M12" LEVEL 1;
COMP "clk" LOCATE = SITE "H3" LEVEL 1;
COMP "S_DQ<10>" LOCATE = SITE "C2" LEVEL 1;
COMP "S_DQ<11>" LOCATE = SITE "D1" LEVEL 1;
COMP "S_DQ<12>" LOCATE = SITE "B1" LEVEL 1;
COMP "S_DQ<13>" LOCATE = SITE "C1" LEVEL 1;
COMP "S_DQ<14>" LOCATE = SITE "A2" LEVEL 1;
COMP "S_DQ<15>" LOCATE = SITE "B2" LEVEL 1;
COMP "S_DQM<0>" LOCATE = SITE "C5" LEVEL 1;
COMP "S_DQM<1>" LOCATE = SITE "A7" LEVEL 1;
COMP "S_CKE" LOCATE = SITE "C6" LEVEL 1;
COMP "S_CLK" LOCATE = SITE "E6" LEVEL 1;
COMP "S_nCS" LOCATE = SITE "C9" LEVEL 1;
COMP "S_nWE" LOCATE = SITE "B8" LEVEL 1;
COMP "oled_dc" LOCATE = SITE "T5" LEVEL 1;
COMP "oled_cs_n" LOCATE = SITE "P5" LEVEL 1;
COMP "oled_sclk" LOCATE = SITE "T8" LEVEL 1;
COMP "oled_sdin" LOCATE = SITE "T7" LEVEL 1;
COMP "S_A<0>" LOCATE = SITE "C11" LEVEL 1;
COMP "S_A<1>" LOCATE = SITE "C10" LEVEL 1;
COMP "S_A<2>" LOCATE = SITE "F9" LEVEL 1;
COMP "S_A<3>" LOCATE = SITE "E11" LEVEL 1;
COMP "S_A<4>" LOCATE = SITE "E10" LEVEL 1;
COMP "S_A<5>" LOCATE = SITE "C8" LEVEL 1;
COMP "S_A<6>" LOCATE = SITE "D9" LEVEL 1;
COMP "S_A<7>" LOCATE = SITE "D8" LEVEL 1;
COMP "S_A<8>" LOCATE = SITE "E8" LEVEL 1;
COMP "S_A<9>" LOCATE = SITE "E7" LEVEL 1;
COMP "S_nCAS" LOCATE = SITE "A8" LEVEL 1;
COMP "S_nRAS" LOCATE = SITE "A9" LEVEL 1;
COMP "oled_rst" LOCATE = SITE "T6" LEVEL 1;
SCHEMATIC END;

