

NET "LCD_RS" LOC = R9;


NET "LCD_RS" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[15]" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[14]" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[13]" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[12]" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[11]" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[10]" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[9]" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[8]" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[7]" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[6]" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[5]" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[4]" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[3]" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[2]" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[1]" IOSTANDARD = LVCMOS33;
NET "LCD_DATA[0]" IOSTANDARD = LVCMOS33;
NET "BL_CTR" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;

NET "LCD_CS" IOSTANDARD = LVCMOS33;
NET "LCD_RD" IOSTANDARD = LVCMOS33;
NET "LCD_RST" IOSTANDARD = LVCMOS33;
NET "LCD_WR" IOSTANDARD = LVCMOS33;



NET "LCD_CS" LOC = T9;
NET "LCD_RD" LOC = R12;
NET "LCD_WR" LOC = T12;
NET "LCD_DATA[0]" LOC = T14;
NET "LCD_RST" LOC = T13;
NET "LCD_DATA[2]" LOC = R14;
NET "LCD_DATA[1]" LOC = T15;
NET "LCD_DATA[4]" LOC = M13;
NET "LCD_DATA[3]" LOC = M14;
NET "LCD_DATA[6]" LOC = L14;
NET "LCD_DATA[5]" LOC = L16;
NET "LCD_DATA[8]" LOC = J13;
NET "LCD_DATA[7]" LOC = K14;
NET "LCD_DATA[10]" LOC = J11;
NET "LCD_DATA[9]" LOC = J12;
NET "LCD_DATA[12]" LOC = G12;
NET "LCD_DATA[11]" LOC = H11;
NET "LCD_DATA[14]" LOC = R15;
NET "LCD_DATA[13]" LOC = R16;
NET "BL_CTR" LOC = H13;
NET "LCD_DATA[15]" LOC = H14;
NET "clk" LOC = H3;


NET "clk_used" LOC = E3;
NET "uart_txd" LOC = E4;

NET "photon_pulse" LOC = E2;
NET "photon_pulse_simulate" LOC = E1;
NET "sync_50Hz" LOC = F2;
NET "sync_50Hz_simulate" LOC = F1;

# PlanAhead Generated IO constraints 

NET "photon_pulse" IOSTANDARD = LVCMOS33;
NET "photon_pulse_simulate" IOSTANDARD = LVCMOS33;
NET "sync_50Hz" IOSTANDARD = LVCMOS33;
NET "sync_50Hz_simulate" IOSTANDARD = LVCMOS33;
NET "clk_used" IOSTANDARD = LVCMOS33;
NET "uart_txd" IOSTANDARD = LVCMOS33;

# SDRAM.
NET "S_A[12]" IOSTANDARD = LVCMOS33;
NET "S_A[11]" IOSTANDARD = LVCMOS33;
NET "S_A[10]" IOSTANDARD = LVCMOS33;
NET "S_A[9]" IOSTANDARD = LVCMOS33;
NET "S_A[8]" IOSTANDARD = LVCMOS33;
NET "S_A[7]" IOSTANDARD = LVCMOS33;
NET "S_A[6]" IOSTANDARD = LVCMOS33;
NET "S_A[5]" IOSTANDARD = LVCMOS33;
NET "S_A[4]" IOSTANDARD = LVCMOS33;
NET "S_A[3]" IOSTANDARD = LVCMOS33;
NET "S_A[2]" IOSTANDARD = LVCMOS33;
NET "S_A[1]" IOSTANDARD = LVCMOS33;
NET "S_A[0]" IOSTANDARD = LVCMOS33;
NET "S_BA[1]" IOSTANDARD = LVCMOS33;
NET "S_BA[0]" IOSTANDARD = LVCMOS33;
NET "S_DQ[15]" IOSTANDARD = LVCMOS33;
NET "S_DQ[14]" IOSTANDARD = LVCMOS33;
NET "S_DQ[13]" IOSTANDARD = LVCMOS33;
NET "S_DQ[12]" IOSTANDARD = LVCMOS33;
NET "S_DQ[11]" IOSTANDARD = LVCMOS33;
NET "S_DQ[10]" IOSTANDARD = LVCMOS33;
NET "S_DQ[9]" IOSTANDARD = LVCMOS33;
NET "S_DQ[8]" IOSTANDARD = LVCMOS33;
NET "S_DQ[7]" IOSTANDARD = LVCMOS33;
NET "S_DQ[6]" IOSTANDARD = LVCMOS33;
NET "S_DQ[5]" IOSTANDARD = LVCMOS33;
NET "S_DQ[4]" IOSTANDARD = LVCMOS33;
NET "S_DQ[3]" IOSTANDARD = LVCMOS33;
NET "S_DQ[2]" IOSTANDARD = LVCMOS33;
NET "S_DQ[1]" IOSTANDARD = LVCMOS33;
NET "S_DQ[0]" IOSTANDARD = LVCMOS33;
NET "S_DQM[1]" IOSTANDARD = LVCMOS33;
NET "S_DQM[0]" IOSTANDARD = LVCMOS33;
NET "S_CKE" IOSTANDARD = LVCMOS33;
NET "S_CLK" IOSTANDARD = LVCMOS33;
NET "S_nCAS" IOSTANDARD = LVCMOS33;
NET "S_nCS" IOSTANDARD = LVCMOS33;
NET "S_nRAS" IOSTANDARD = LVCMOS33;
NET "S_nWE" IOSTANDARD = LVCMOS33;


NET "S_DQ[9]" LOC = C3;
NET "S_DQ[10]" LOC = C2;
NET "S_DQ[11]" LOC = D1;
NET "S_DQ[13]" LOC = C1;
NET "S_DQ[12]" LOC = B1;
NET "S_DQ[15]" LOC = B2;
NET "S_DQ[14]" LOC = A2;
NET "S_DQ[0]" LOC = B3;
NET "S_DQ[1]" LOC = A3;
NET "S_DQ[2]" LOC = A4;
NET "S_DQ[3]" LOC = B5;
NET "S_DQ[8]" LOC = D5;
NET "S_DQ[4]" LOC = A5;
NET "S_DQ[5]" LOC = B6;
NET "S_DQ[6]" LOC = A6;
NET "S_DQ[7]" LOC = C7;

NET "S_DQM[0]" LOC = C5;
NET "S_DQM[1]" LOC = A7;
NET "S_CLK" LOC = E6;
NET "S_A[12]" LOC = D6;
NET "S_CKE" LOC = C6;
NET "S_nWE" LOC = B8;
NET "S_nCAS" LOC = A8;
NET "S_nCS" LOC = C9;
NET "S_nRAS" LOC = A9;
NET "S_BA[0]" LOC = A10;
NET "S_BA[1]" LOC = B10;
NET "S_A[9]" LOC = E7;
NET "S_A[8]" LOC = E8;
NET "S_A[4]" LOC = E10;
NET "S_A[1]" LOC = C10;
NET "S_A[7]" LOC = D8;
NET "S_A[5]" LOC = C8;
NET "S_A[0]" LOC = C11;
NET "S_A[2]" LOC = F9;
NET "S_A[6]" LOC = D9;
NET "S_A[3]" LOC = E11;
NET "S_A[10]" LOC = A11;
NET "S_A[11]" LOC = F7;


